<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/0ef1dba3-743c-4fe2-97bf-8d81c3e64c20/resourceGroups/appsvclinux/providers/Microsoft.Web/sites/webapptestnm1linux</ResourceId>
    <ResourceGroup>appsvclinux</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapptestnm1linux.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>542edf4c-4b34-4517-b5cd-a4880d32cccc</ProjectGuid>
    <PublishUrl>https://webapptestnm1linux.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapptestnm1linux</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>