<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0ef1dba3-743c-4fe2-97bf-8d81c3e64c20/resourceGroups/appsvcs_rg/providers/Microsoft.Web/sites/webappnm2</ResourceId>
    <ResourceGroup>appsvcs_rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webappnm2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>542edf4c-4b34-4517-b5cd-a4880d32cccc</ProjectGuid>
    <PublishUrl>https://webappnm2.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webappnm2</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>